doctype html
html
  head
    meta charset="utf-8"
    link rel="stylesheet" href="style.css"

  body
    .logo
      img src="img/logo.png" 
    .fake_b
    #hand-wrapper
      .caption
        h1.main_title Новый фиксатор<br/>с доступом к коже
        a.want_btn href="#" Хочу
    .content
      p.how_it_works Как это работает?
      center
        .column
          img src="img/circle1.png" 
          span.circle_info Травмированная рука
        .column
          img src="img/circle2.png" 
          span.circle_info 3D-скан или результат томографии
        .column
          img src="img/circle3.png" 
          span.circle_info Индивидуальный фиксатор
    #forms-wrapper
      .forms
        h2.dark_h Подчеркни индивидуальность цветом
        center
          .column.c_colors: img src="img/1.png"
          .column.c_colors: img src="img/2.png"
          .column.c_colors: img src="img/3.png"
          .column.c_colors: img src="img/4.png"
          .column.c_colors: img src="img/5.png"
          .column.c_colors: img src="img/6.png"

    .mapbox
      .contacts
        span.mail mail@zdravprint.ru
        span.phone 8 (952) 181-42-41
        .bg
      #map

  script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
  script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"
  script src="js/grayscale.js"